rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /userData/{userId}{
    	allow read, create, update: if request.auth.uid == userId
    }
    
    match /userData/{userId}/cards/{cardId}{
    	allow read, create, delete,update: if request.auth.uid == userId;
    }
    
    match /verifiedCard/{userId}{
    	allow read,create,delete;
    }
    
    match /waitlisted/{userId}{
    allow create,read;
    }
  }
}